
body{
    margin:0px;
    background-color: black;
    font-family: sans-serif;
    color: white;
}
header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: black;
    Display: flex;
    }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 10px;
  }

  li a:hover {
    background-color: rgb(37, 37, 37);
  }

.logo{
    display: inline-block;
    vertical-align: centre;
    height: 45px;
    margin-right: 20px;
    margin-top: 1px;
}

.active {
    background-color: #b91562;
  }
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #860a0a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.header .button {
    background-color: #8a0c0c;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header .button:hover {
    background-color: #ad1d1d;
}

.hidden {
    opacity: 0; /* начальная прозрачность */
    max-height: 0; /* начальная высота */
    overflow: hidden; /* скрыть содержимое, если оно превышает максимальную высоту */
    transition: opacity 0.3s ease, max-height 0.3s ease; /* добавление анимации */
}

.stats-table.visible {
    opacity: 1; /* конечная прозрачность */
    max-height: 1000px; /* достаточная высота для отображения содержимого */
}


.stats-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-table th, .stats-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.stats-table th {
    background-color: #920f0f;
    color: #fff;
}

.stats-table td {
    color: #333;
}

.stats-table tr:hover {
    background-color: #f1f1f1;
}

.map-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
    color: #bd4a4a;
}
